@model Asomameco.Application.DTOs.UsuarioDTO

@{
    ViewData["Title"] = "Crear Usuario";
}

<div class="container mt-5 mb-5">
    <div class="card shadow-lg border-0" style="margin-bottom:16%">
        <div class="card-header text-white d-flex align-items-center" style="background-color: #07305d;">
            <i class="fas fa-user-plus me-2"></i>
            <h3 class="card-title mb-0">Crear Nuevo Usuario</h3>
        </div>
        <div class="card-body">
            <form id="createUserForm" asp-action="Create" asp-antiforgery="true" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                <div class="row">
                    <!-- Sección Izquierda -->
                    <div class="col-md-6">
                        <!-- Campo ID -->
                        <div class="mb-3">
                            <label asp-for="Id" class="form-label fw-bold">
                                <i class="fas fa-id-badge me-2"></i>Código
                            </label>
                            <input asp-for="Id" id="Id" class="form-control" placeholder="Ingrese el ID" style="max-width: 90%;" />
                            <span asp-validation-for="Id" class="text-danger"></span>
                        </div>

                        <!-- Campo Cédula -->
                        <div class="mb-3">
                            <label asp-for="Cedula" class="form-label fw-bold">
                                <i class="fas fa-id-badge me-2"></i>Cédula
                            </label>
                            <input asp-for="Cedula" id="Cedula" class="form-control" placeholder="Ingrese la Identificación" style="max-width: 90%;" />
                            <span asp-validation-for="Cedula" class="text-danger"></span>
                        </div>


                        <!-- Campo Nombre -->
                        <div class="mb-3">
                            <label asp-for="Nombre" class="form-label fw-bold">
                                <i class="fas fa-user me-2"></i>Nombre
                            </label>
                            <input asp-for="Nombre" id="Nombre" class="form-control" placeholder="Ingrese el nombre" style="max-width: 90%;" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>

                        <!-- Campo Apellidos -->
                        <div class="mb-3">
                            <label asp-for="Apellidos" class="form-label fw-bold">
                                <i class="fas fa-user-tag me-2"></i>Apellidos
                            </label>
                            <input asp-for="Apellidos" id="Apellidos" class="form-control" placeholder="Ingrese los apellidos" style="max-width: 90%;" />
                            <span asp-validation-for="Apellidos" class="text-danger"></span>
                        </div>

                    </div>

                    <!-- Sección Derecha -->
                    <div class="col-md-6">
                        <!-- Campo Correo -->
                        <div class="mb-3">
                            <label asp-for="Correo" class="form-label fw-bold">
                                <i class="fas fa-envelope me-2"></i>Correo Electrónico
                            </label>
                            <input asp-for="Correo" id="Correo" class="form-control" placeholder="Ingrese el correo" style="max-width: 90%;" />
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </div>
                        <!-- Campo Teléfono -->
                        <div class="mb-3">
                            <label asp-for="Telefono" class="form-label fw-bold">
                                <i class="fas fa-id-badge me-2"></i>Teléfono
                            </label>
                            <input asp-for="Telefono" id="Telefono" class="form-control" placeholder="Ingrese el teléfono" style="max-width: 90%;" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>


                        <!-- Campo Contraseña -->
                        <div class="mb-3">
                            <label asp-for="Contraseña" class="form-label fw-bold">
                                <i class="fas fa-key me-2"></i>Contraseña
                            </label>
                            <div class="input-group">
                                <input asp-for="Contraseña" class="form-control" id="password" type="password" placeholder="Ingrese la contraseña" style="max-width: 90%;" />
                                <button type="button" id="togglePassword" class="btn btn-outline-secondary">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                            <span asp-validation-for="Contraseña" class="text-danger"></span>
                        </div>

                        <!-- Campo Confirmar Contraseña -->
                        <div class="mb-3">
                            <label asp-for="Contraseña" class="form-label fw-bold">
                                <i class="fas fa-key me-2"></i>Confirmar Contraseña
                            </label>
                            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirme la contraseña" style="max-width: 90%;" />
                            <span id="passwordError" class="text-danger"></span>
                        </div>

                        <!-- Campo Tipo de Usuario -->
                        <div class="mb-3">
                            <label asp-for="Tipo" class="form-label fw-bold">
                                <i class="fas fa-user-shield me-2"></i>Tipo de Usuario
                            </label>
                            @Html.DropDownListFor(model => model.Tipo,
                                     new SelectList(ViewBag.ListRol, "Id", "Descripcion"),
                                     "Seleccione un tipo de usuario",
                                     new { @class = "form-select", id = "Tipo" })
                        </div>

                    </div>
                </div>

                <!-- Botones -->
                <div class="d-flex justify-content-between mt-4">
                    <a asp-action="IndexAdmin" class="btn btn-regresar">
                        <i class="fas fa-arrow-left me-1"></i>Regresar
                    </a>
                    <button type="submit" class="btn btn-pagi" >
                        <i class="fas fa-save me-1"></i>Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            // Mostrar/Ocultar contraseña
            $("#togglePassword").click(function () {
                const passwordInput = $("#password");
                const confirmPasswordInput = $("#confirmPassword");
                const icon = $("#togglePassword i");

                if (passwordInput.attr("type") === "password") {
                    passwordInput.attr("type", "text");
                    confirmPasswordInput.attr("type", "text");
                    icon.removeClass("fas fa-eye").addClass("fas fa-eye-slash");
                } else {
                    passwordInput.attr("type", "password");
                    confirmPasswordInput.attr("type", "password");
                    icon.removeClass("fas fa-eye-slash").addClass("fas fa-eye");
                }
            });

            // Validación de las contraseñas coincidentes
            $('#createUserForm').submit(function (e) {
                var password = $('#password').val();
                var confirmPassword = $('#confirmPassword').val();
                if (password !== confirmPassword) {
                    e.preventDefault();
                    $('#passwordError').text('Las contraseñas no coinciden');
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Las contraseñas no coinciden.',
                        toast: true,
                        position: 'center',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true
                    });
                } else {
                    $('#passwordError').text('');
                }

                // Validación de campos vacíos
                if ($('#Id').val().trim() === "") {
                    e.preventDefault();
                    Swal.fire({
                        icon: 'warning',
                        title: 'Validación requerida',
                        text: 'Debe ingresar un ID.',
                        toast: true,
                        position: 'center',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true
                    });
                    return;
                }
                // Validación de campos vacíos
                if ($('#Cedula').val().trim() === "") {
                    e.preventDefault();
                    Swal.fire({
                        icon: 'warning',
                        title: 'Validación requerida',
                        text: 'Debe ingresar una Cédula.',
                        toast: true,
                        position: 'center',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true
                    });
                    return;
                }
                if ($('#Nombre').val().trim() === "") {
                    e.preventDefault();
                    Swal.fire({
                        icon: 'warning',
                        title: 'Validación requerida',
                        text: 'Debe ingresar un nombre.',
                        toast: true,
                        position: 'center',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true
                    });
                    return;
                }

                if ($('#Apellidos').val().trim() === "") {
                    e.preventDefault();
                    Swal.fire({
                        icon: 'warning',
                        title: 'Validación requerida',
                        text: 'Debe ingresar los apellidos.',
                        toast: true,
                        position: 'center',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true
                    });
                    return;
                }

                if ($('#Correo').val().trim() === "") {
                    e.preventDefault();
                    Swal.fire({
                        icon: 'warning',
                        title: 'Validación requerida',
                        text: 'Debe ingresar un correo.',
                        toast: true,
                        position: 'center',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true
                    });
                    return;
                }

                if ($('#Tipo').val() === "0") {
                    e.preventDefault();
                    Swal.fire({
                        icon: 'warning',
                        title: 'Validación requerida',
                        text: 'Debe seleccionar un tipo de usuario.',
                        toast: true,
                        position: 'center',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true
                    });
                    return;
                }
            });
        });
    </script>
    <style>
        .btn-regresar {
            background-color: #07305d;
            color: white;
            padding: 12px;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

        .btn-regresar:hover {
                background-color: #0b488c;
                transform: scale(1.05);
                color: white;
            }

        .btn-pagi {
            background-color: #e4872c;
            color: white;
            padding: 12px;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

        .btn-pagi:hover {
                background-color: #eaa159;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                transform: scale(1.05);
            }
    </style>
}
